.user-avatar{
    border-radius: 50%;
}

.content{
  background-color: white;
}

.header{
  background-color: black;
  height: 80px;
}

.hiText{
  display: inline-block; 
  color: white; 
  font-family: Arial, Helvetica, sans-serif; 
  text-align: right; 
  font-weight: bold; 
  font-size: 16px; 
  top: 10px;
}

.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }

  .mat-elevation-z4{
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  }
  
  .error-text{
    color: red; 
  }

  .text-right{
    margin-top: 10px; 
    padding-right: 15px;
  }
  .stage {
    // border-bottom: 3px solid #444;
    display: flex;
    height: 330px;
    width: 100%;
}
.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: white;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}
.bounce-7 {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}